body{
    font-family: Arial, Helvetica, sans-serif
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Times New Roman', Times, serif
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color:white;
    margin: 0;
}

h1 strong{
    color: #F17e87;
}
h2{
    color: #F17e87;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 48px;
}

.hero {
    height: 300px;
    background-color: #1b2127;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image{
    object-fit:cover;
}

.portafolio{
    background: #fafafa;
    padding: 20px;
}

.proyect{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proyect-course,
.proyect-date,
.proyect-url{
    margin: 10px 0;
}

.proyect-description{
    font-size: 20px;
}

.proyect strong{
    font-family: Arial, Helvetica, sans-serif;
}

.proyect-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;

}

.proyect-details{
    width:50%;
}

.proyect-imageContainer{
    width: 50%;
}

.proyect-imageContainer img{
    max-width: 100%;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header a{
    color: white;
    text-decoration: none;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 50px;
    height: 50px;
    margin:5px;
    border: 1px solid red;
    flex-shrink: 0;
}

.footer{
    color:white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}
.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event-list-title{
    margin-left: 20px;
}

.event{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #F17e87;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #F17e87;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url(../img/tw\ 2.png);
}

.social-link.facebook{
    background-image: url(../img/fac.png);
}

.social-link.github{
    background-image: url(../img/hub.png);
}

.social-link.instagram{
    background-image: url(../img/ins.png);
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../img/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email h3{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color:white;
}

@media screen and (max-width: 1023px){
    .event-list-title{
        margin-left: 0;
    }

    .portafolio{
        padding: 0;
    }

    .container{
        padding: 0 1em;
    }

    .hero{
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }

    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    h1{
        font-size: 2em;
        z-index: 2;
    }

}

.html-video{
    width: 100%;
    height: auto;
}

.youtube-video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height:100%;
}

.flexible-video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: blue;
    position: relative;
}

@media screen and (max-width: 767px){
    h2{
        font-size: 1.2em;
        margin: .5em 0;
    }
    .burger-button{
        display: block;
    }
    .header{
        display: block;
        height: auto;
    }

    .header ol{
        display: block;
    }

    .header ol li{
        height: 50px;
    }

    .header a{
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .header .logo{
        text-align: center;
    }

    .menu{
        position: fixed;
        background: rgba(5, 111,255, .9);
        z-index: 3;
        top:0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }

    .menu.is-active{
        left:0;
    }

    .proyect{
        display: block;
    }

    .proyect-imageContainer{
        width: auto;
        text-align: center;
    }

    .proyect-details{
        width: auto;
    }

    .proyect-course, .proyect-date, .proyect-url{
        margin: .3em; 0;
    }

    .proyect-title{
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .proyect-url{
        font-size: 1em;
    }

    .proyect-course{
        font-size: .7em;
    }

    .proyect-date{
        font-size: 1em;
    }
    .proyect-description{
        font-size: 1em;
    }

    .event{
        width: auto;
        flex-shrink: initial;
    }
    .event img{
        width: 100%;
    }

}

@media screen and (max-width: 480px){
    h1{
        font-size: 1.5em;
    }

    .proyect-details{
        font-size: 14px;
    }

    .event-details{
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact{
        height: auto;
        padding: 1.5em; 0;
        text-align: center;
        display: block;
    }

    .form-email button{
        margin: 1em auto;
    }

    .form-email h3{
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }

    .social-link{
        width: 40px;
        height: 40px;
        background-size: 100%;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1.2em{

        }
        .hero{
            padding: 2em 1em;
        }
    }
}